<!--<div *ngIf="showHead">
  <ul>
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/login']">Sign In</a></li>
    <li><a [routerLink]="['/register']">Sign Up</a></li>
  </ul>
  <br><br>
</div>-->

<div *ngIf="showHead">
  <ul>
    <li><a [routerLink]="['/dashboard']">Home</a></li>
    <li><a [routerLink]="['/myCourse']">My Courses</a></li>
    <li><a [routerLink]="['/myProfile']">Profile</a></li>
    <li><a [routerLink]="['/logout']">Logout</a></li>
  </ul>
  <br><br>
</div>