.modal-dialog {
  width: 400px;
  }
.modal-content {
    background-color: white;
    border: none;
  }
.title {
  text-align: center;
}
/*.btn {
  background-color: #FFAA1D;
<<<<<<< HEAD
}*/
=======
}*/
>>>>>>> 2e9c805fc8ca8c59496db8c5dd8be397305068a6
