<div class="col-md-6 offset-md-3 col-xs-12">
        <h1>Login</h1><br><br>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
                <div class="input-container">
                        <span class="fa fa-user" style="font-size:20px"></span>
            <label>&ensp;Username</label>
            </div>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submittedLogin && login.username.errors }" />
            <div *ngIf="login.username.errors" class="invalid-feedback">
                <div *ngIf="login.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group">
                <div class="input-container">
                        <i class="material-icons" style="font-size:20px">vpn_key</i>
            <label>&ensp;Password</label>
                </div>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submittedLogin && login.password.errors }" />
            <div *ngIf="login.password.errors" class="invalid-feedback">
                <div *ngIf="login.password.errors.required">Password is required</div>
                <div *ngIf="login.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button>
        </div>
    </form>
</div>