<div class="col-md-9 offset-md-1 col-xs-12">
    <h3>Comments</h3><br>
    <div *ngFor="let comment of comments">
    <h5>{{comment.username}}</h5>
    <p  style="color: grey">{{comment.comment}}</p>
</div>

<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Add Comments</label>
            <input type="text" formControlName="comment" class="form-control" [ngClass]="{ 'is-invalid': submitted && login.comment.errors }" />
            <div *ngIf="login.comment.errors" class="invalid-feedback">
                <div *ngIf="login.comment.errors.required">Marks is required</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Post
            </button>
        </div>
    </form>
</div>